<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/styles/common.css">
	<link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
	<link rel="stylesheet" href="../static/styles/movie.css">
	<link rel="stylesheet" href="../static/styles/header.css">
	<link rel="stylesheet" href="../static/styles/footer.css">
	<script src="https://kit.fontawesome.com/e8b132ab7c.js" crossorigin="anonymous"></script>
	<title>OMNI - {{movie.title}}</title>
</head>
<body>
	<nav>
		<div>
			<img id="home_logo" src="../static/images/omni.ico" alt="">
		</div>
		<div class="search-wrap">
			<div data-srch class="visible">
				<input data-search type="search" placeholder="Search {{ count }} Movies..." name="" id="">
				<ul data-list class="hide">

				</ul>
			</div>
			<i class="fa-solid fa-magnifying-glass"></i>
		</div>
		<div class="home">
			<a href="{{ url_for('omni')}}"><i class="fa-solid fa-house"></i></a>
		</div>
	</nav>
	<div class="container">
		<div class="iframe">
			<iframe src="https://www.cincopa.com/media-platform/iframe.aspx?fid={{movie.url}}" allow="fullscreen"  frameborder="0"></iframe>
		</div>

		<div class="movie-info">
			<div>{{movie.title}}</div>
			<div class="icons">
				<div></div>
				{% if movie.rated_18 == False %}
				<div class="rated_13"></div>
				{%else%}
				<div class="rated_18"></div>
				{%endif%}
			</div>
			<div>{{movie.description}}</div>

			<div>
				<span>Cast: </span>
				{% for actor in movie.actors%}
				<span>
					{{actor.first_name}} {{actor.last_name}},
				</span>
				{% endfor %}
			</div>

			<div>More Like This</div>
			<div class="recommended">
				{%for movie in recommended%}
				<div class="similar">
					<div>
						<a href="{{ url_for('omni_movie', movie_id=movie.id) }}">
							<img src={{movie.thumbnail}} alt="">
						</a>
					</div>
					<div class="summary">
						{{movie.description}}
					</div>
				</div>

				{%endfor%}
			</div>
		</div>
		<footer>
			<p>OMNI &#169; 2022</p>
		</footer>
	</div>

	<script src="../static/scripts/main.js"></script>
</body>
</html>