<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
	<link rel="stylesheet" href="../static/styles/common.css">
	<link rel="stylesheet" href="../static/styles/header.css">
	<link rel="stylesheet" href="../static/styles/recent.css">
	<link rel="stylesheet" href="../static/styles/movies.css">
	<link rel="stylesheet" href="../static/styles/footer.css">
	<script src="https://kit.fontawesome.com/e8b132ab7c.js" crossorigin="anonymous"></script>
	<title>OMNI</title>
</head>
<body>
	<nav>
		<div>
			<img id="home_logo" src="../static/images/omni.ico" alt="">
			<i class="fa-solid fa-n"></i>
			<i class="fa-solid fa-i"></i>
		</div>
		<div>
			<form action="">
				<input data-search type="text" placeholder="   Search {{ count }} Movies..." name="" id="">
				<button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
			</form>
			<i class="fa-solid fa-house"></i>
		</div>
	</nav>
	<div class="container">

		<section class="recent">
			<div data-slides>
				{% for movie in movies %}
				<div class="recent_movie">
					<img src={{movie.thumbnail}} alt="">
					<p>{{movie.description}}</p>
				</div>
				{% endfor %}
			</div>
			<button id="play">
				<i class="fa-solid fa-play"></i>
				Play
			</button>
			<button id="watch_list">
				<i class="fa-solid fa-plus"></i>
				My List
			</button>

			<div class="slide-arrow" data-angle="prev"><i class="fa-solid fa-chevron-left"></i></div>
			<div class="slide-arrow" data-angle="next"><i class="fa-solid fa-chevron-right"></i></div>

		</section>

		{% for key, value in lists.items() %}
		<section>
			<p>{{key}}</p>
			<div class="genre">
				<div data-arrow=""><i class="fa-solid fa-chevron-left"></i></div>
				<div>
					{% for item in value %}
					<div><a href="{{ url_for('omni_movie', movie_id=item.id)}}"><img src={{item.thumbnail}} alt=""></a></div>
					{% endfor %}
				</div>
				<div data-arrow="right"><i class="fa-solid fa-chevron-right"></i></div>
			</div>
		</section>
		{% endfor %}

		<footer>
			<p>OMNI &#169; 2022</p>
		</footer>

	</div>

	<script src="../static/scripts/main.js"></script>
</body>
</html>