nav {
	background-color:hsl(0, 0%, 0%);
	width: 100%;
	display: flex;
	align-items: center;
}

nav > div:nth-child(2) {
	display:flex;
	width:100%;
	justify-content: flex-end;
	align-items: center;
	gap:3%;
}

nav > div:first-child {
	display:flex;
	align-items: center;
	padding-left:3%;
}

#home_logo {
	display: block;
	background-repeat: no-repeat;
	background-position:center;
	width:50px;
}

form {
	position:relative;
	height: 100%;
	align-items: center;
	justify-content: center;
}


nav input {
	background: rgba(0, 0, 0, 0);
	border: 2px solid rgb(255, 255, 255);
	border-radius: 2vh;
	padding-top: 1%;
	color: rgb(255, 255, 255);
	outline: 0;
	width:0;
	text-indent: 3%;
	transition: all 0.5s ease-in-out;
	font-size: 20px;

}

.dropdown {
	width:85%;
	background: red;
	margin:0;
	border-radius: 10px;
}

.fa-magnifying-glass {
	color:rgb(255, 255, 255);
	font-size: 20px;
	transition: width 0.5s ease-in-out;
}

form:hover .fa-magnifying-glass {
	font-size: 30px;
}

.fa-house {
	color: rgb(255, 255, 255);
	font-size: 20px;
	padding-right: 5%;
}


.fa-n, .fa-i {
	color:white;
	font-size: 20px;
}


nav button {
	background: rgba(0, 0, 0, 0);
	border-width: 0;
	border-color:white;
}

nav button:hover,
nav button:focus {
	cursor:pointer;
}

form:hover [data-search] {
	width: 35vw;
	opacity:1;
}