.genre {
	position: relative;
}
.genre > div:nth-child(2) {
	display:flex;
	gap:1%
}

[data-slides]::before {
	content: "";
	background:linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,1)),
			   linear-gradient(to top, rgba(0,0,0,0) 70%, rgba(0,0,0,1)),
			   linear-gradient(to left, rgba(0,0,0,0) 80%, rgba(0,0,0,0.5)),
			   linear-gradient(to right, rgba(0,0,0,0)80%, rgba(0,0,0,0.5));
	position: absolute;
	top:0;
	width:100%;
	height:100%;
	z-index:2;
}
div.container section:not(:first-child) {
	margin:5% 0 0 2%;

}

.genre:hover [data-arrow] {
	display: block;
}


section:not(:first-child) img {
	cursor: pointer;
	width: 40vw;
	object-fit: cover;
}


section p {
	padding-left: 1%;
	margin-top: 0;
	font-size:2vw;
	font-weight: 600;
}

.genre > div:nth-child(2){
	scroll-behavior: smooth;
	position: relative;
	overflow:hidden;
}


[data-arrow] {
	position: absolute;
	top:0;
	height:100%;
	width:6vw;
	background-color: hsl(0, 0%, 0%, 0.6);
	z-index: 1;
	display: none
}

[data-arrow="right"] {
	right:0;
}


[data-arrow]:hover {
	background-color: hsl(0, 0%, 0%, 0.4);
}

.fa-chevron-left, .fa-chevron-right{
	position: absolute;
	bottom:50%;
	left:40%;
}

@media screen and (max-width: 950px) {
	[data-angle], .genre:hover [data-arrow] {
		display: none;
	}

}