
nav {
	position:absolute;
	top:0;
	z-index:1;
}
.iframe {
	height:0;
	position:relative;
	padding-bottom: 56.25%;
}

.hide {
	display:none;
}

.movie-info, .movie-info div:nth-child(3), .movie-info div:nth-child(4) {
	width:100%;
	padding-top:2%;
}

.movie-info > div:not(:nth-child(5)):not(:last-child) {
	padding-left: 3%;
}

.movie-info > div:first-child {
	font-size:5vw;
	font-weight:700;
	width:100%;
}

.movie-info > div:nth-child(3), span:not(:first-of-type) {
	font-size:2.6vw;
}

.movie-info > div:nth-child(5) {
	padding-top:8%;
	font-size:5vw;
	font-weight: bold;
}

.movie-info span:first-of-type {
	font-size: 3vw;
	font-weight: 600;
}

.movie-info > span:first-of-type {
	font-size:2.5vw;
	color:rgb(255, 255, 255);
	font-weight:600;
}

.movie-info > div {
	color:rgb(255, 255, 255);

}

.icons > div:first-of-type {
	background:url("../images/hd-sign.png") no-repeat;

}

.icons div {
	height:24px;
	width:24px;
	padding-top:0;
}

.icons {
	display:flex;
	gap: 1.5%;
}

.fa-house {
	cursor: pointer;
}

.rated_13 {
	background: url("../images/number-13.png");
	background-repeat: no-repeat;
	color:white;
}

.rated_18 {
	background: url(../images/number-18.png);
}

iframe {
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;

}

.recommended {
	display:grid;
	grid-template-columns: repeat(2, 48%);
	margin: 0 2%;
	column-gap: 1%;
	row-gap: 2%;
	justify-content: center;
}

.recommended img {
	width:95%;
	padding-top: 2%;
	box-shadow: 3px;
	aspect-ratio: 16/9;
}

.movie-info > div:nth-child(5){
	padding: 7% 0 2% 4%;
}

.summary {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-size:2.7vw;
	text-align: left;
	padding:0 3% 1% 3%;
}

.similar {
	border:2px solid hsl(0, 0%, 5%);
}

.similar > div:first-child {
	text-align: center;
}
