.recent {
	position: relative;
}

.slide-arrow {
	position: absolute;
	top:50%;
	z-index:3;
	font-size: calc(1.2em + 0.390625vw);
	background: hsl(0, 0%, 0%, 0.5);
}

[data-angle="prev"] {
	left:4%;
}

[data-angle="next"] {
	right:6%;
}

[data-images], div.recent_movie:not(:first-child) {
	position: absolute;
	top:0;
	opacity: 0;
}

[data-image] {
	position: relative;
	top: 0;
	opacity:1;
}



.recent_movie img {
	width: 100vw;
	height: auto;
	object-fit: cover;

}

.recent_movie p {
	position: absolute;
	bottom: 3%;
	width:45vw;
	overflow: hidden;
	font-weight: 300;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	padding: 0;
}

.recent button {
	cursor: pointer;
	position: absolute;
	background-color:hsl(0, 0%, 0%, 0.3);
	color:white;
	bottom: 22%;
	border: 0;
	font-size: 2vw;
	font-weight: 600;
	width:15%;
	min-height:12%;
	padding:0;
}

button i {
	margin-right:3%;
}



.recent button:hover {

	background-color:hsl(0, 0%, 0%, 0.2);
	font-size: 2.2vw;

}

#play, .recent p {
	left:7vw;
}

#watch_list {
	left:24vw;
}